huggingface_hub
numpy
torch
transformers
accelerate
bitsandbytes
tqdm
pytesseract
pdf2image
datasets
peft
trl
sentencepiece
protobuf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi
uvicorn
python-multipart
